<!-- wp:template-part {"slug":"header","theme":"cyber-alpha-blocks","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
    <div id="careers">
        <!-- wp:shortcode -->
        [wpb_career_application_form]
        <!-- /wp:shortcode -->
    </div>
    
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cyber-alpha-blocks","tagName":"footer","className":"custom-footer-class"} /-->