<!-- wp:template-part {"slug":"header","theme":"cyber-alpha-blocks","tagName":"header","className":"home-header-class"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">


<!-- Display form status messages -->


<!-- wp:pattern {"slug":"cyber-alpha-blocks/banner"} /-->

<!-- wp:pattern {"slug":"cyber-alpha-blocks/our-services"} /-->

<!-- wp:pattern {"slug":"cyber-alpha-blocks/about-us"} /-->

<!-- wp:pattern {"slug":"cyber-alpha-blocks/our-skills"} /-->


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cyber-alpha-blocks","tagName":"footer","className":"home-footer-class"} /-->