<!-- wp:template-part {"slug":"header","theme":"one-business-blocks","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->

   
<!-- Main section for Assessments -->
<section class="assessment-section">
    <h1 class="assessment-heading">Coaching.<br>Building competence within teams.</h1>

    <div class="assessment-columns">
        <!-- Column 1: Developer Experience -->
        <div class="assessment-column">
            <h2 class="column-heading">You own your work</h2>
            <p>To make changes long-lasting it is important that the knowledge and practices introduced stay with the teams who own the work. Hiring consultants to come in and implement everything for you can lead to a lack of knowledge and practices to own the work. We believe in coaching teams to empower them learn new practices and technology, therefore ensuring the ownership is clear.</p>
            <a href="/contact/" class="custom-button">Learn more</a>
        </div>

        <!-- Column 2: Value Streams -->
        <div class="assessment-column">
            <h2 class="column-heading">High performing teams</h2>
            <p>Building high performing teams means bringing everyone with you. Working alongside engineers with experience will boost productivity whilst building competence. We help teams adopt technologies like the Cloud, HashiStack and Kubernetes by doing the day-to-day work together, thereby training and solving real problems at the same time.</p>
            <a href="/contact/" class="custom-button">Learn more</a>
        </div>
    </div>
</section>

<!-- Callout Section wrapped inside anchor tag -->
<section class="assessment-callout">
    <a href="/contact" class="callout-box">
        <p>Want to upskill your team?</p>
        <span class="callout-link">Get in touch.</span>
    </a>
</section>



<!-- wp:template-part {"slug":"footer","theme":"one-business-blocks","tagName":"footer","className":"custom-footer-class"} /-->